azure-ai-ml>=1.20.0
azure-identity>=1.17.0
azure-monitor-opentelemetry
azure-storage-blob
azureml-core>=1.50.0
azureml-fsspec>=1.3.0
azureml-ai-monitoring
azureml-contrib-services
# For online endpoint serving
# azureml-inference-server-http